<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wangyicheng.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LogIn_1st"
            android:label="@string/title_activity_log_in_1st" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".patient_log_in"
            android:label="@string/title_activity_patient_log_in" >
        </activity>
        <activity
            android:name=".guest_log_in"
            android:label="@string/title_activity_guest_log_in" >
        </activity>
        <activity
            android:name=".dentist_log_in"
            android:label="@string/title_activity_dentist_log_in" >
        </activity>
        <activity
            android:name=".dentistList"
            android:label="@string/title_activity_dentist_list" >
        </activity>
        <activity
            android:name=".CommunicateWithServer"
            android:label="@string/title_activity_communicate_with_server" >
        </activity>
        <activity
            android:name=".Sign_up"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".sign_up_fail"
            android:label="@string/title_activity_sign_up_fail" >
        </activity>
        <activity
            android:name=".logInFail"
            android:label="@string/title_activity_log_in_fail" >
        </activity>
        <activity
            android:name=".DwzmPage"
            android:label="@string/title_activity_dwzm_page" >
        </activity>
        <activity
            android:name=".PwzmPage"
            android:label="@string/title_activity_pwzm_page" >
        </activity>
        <activity
            android:name=".pReserve"
            android:label="@string/title_activity_p_reserve" >
        </activity>
        <activity
            android:name=".dChangeSchedule"
            android:label="@string/title_activity_d_change_schedule" >
        </activity>
    </application>

</manifest>
